<div class="header">
    <ul class="nav nav-pills pull-right">
        <li {{#index}}class="active"{{/index}}><a href="/">Home</a></li>
        <!--<li {{#about}}class="active"{{/about}}><a href="/about">About</a></li>-->
        <li {{#contact}}class="active"{{/contact}}><a href="/contact">Contact</a></li>
    </ul>
    <h3 class="text-muted"><a href="/"> Nasir Rasul</a></h3>

</div>