<!DOCTYPE html>
<html lang="en">
{{> ../partials/head}}

<body>
<div class="container">
    {{> ../partials/navbar}}

    <div class="jumbotron">
        <h1>code: {{code}}</h1>

        <p class="lead">error: {{message}}</p>

        <p><a class="btn btn-lg btn-success" href="/contact" role="button">Ask me how!</a></p>
    </div>


    {{> ../partials/footer}}

</div>
<!-- /container -->

{{> ../partials/scripts}}
</body>
</html>