<!DOCTYPE html>
<html lang="en">
{{> ../partials/head}}

<body>

<div class="container">
    {{> ../partials/navbar}}

    {{> ../Application/indexcontent}}

    {{> ../partials/footer}}

</div>
<!-- /container -->

{{> ../partials/scripts}}
</body>
</html>
